.hotcases-content {
  .pic {
    width: 100%;
    padding-bottom: 80%;
    position: relative;
    margin-bottom: 25px;
    transition: 0.3s;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.2);
      }
      .mask-box {
        opacity: 0;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
    .mask-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35);
      opacity: 1;
      transition: 0.3s;
    }
    p {
      font-weight: 900;
      color: #fff;
      text-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.9);
      position: absolute;
      margin: 0;
      left: 20px;
      bottom: 10px;
      font-size: 20px;
      letter-spacing: 1.5px;
    }
  }
}



#cases-tabContent {
  #base {
    .pic {
      width: 100%;
      padding-bottom: 65%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    .text {
      h4 {
        font-size: 24px;
        font-weight: 900;
      }
      h5 {
        color: #666;
        font-weight: 900;
      }
      .content {
        color: #666;
        font-weight: 300;
        p {
            margin: 0;
        }
      }
      ul {
        li {
          color: #666;
          margin-bottom: 5px;
          font-weight: 300;
        }
      }
    }
  }
  .bigpic {
    .pic {
      width: 100%;
      padding-bottom: 65%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    .text {
      padding-top: 30px;
      width: calc(100% * 4 / 3);
      h4 {
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        color: #666;
        font-weight: 300;
      }
    }
  }
  .smallpic {
    position: relative;
    width: 100%;
    padding-bottom: calc(65% * 9 / 3);
    .inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 0 5% 0 7%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        // opacity: 0;
        width: 5px;
        border-radius: 0;
        background-color: rgba(134, 134, 134, 0.5);
      }
      &::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 0;
        background-color: #868686;
      }
      .pic-inform {
        margin-bottom: 7%;
        .pic {
          width: 100%;
          padding-bottom: 70%;
          position: relative;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
        .text {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
    .cases-benner {
        padding-bottom: calc(100vh - 70px);
        background-image: url(/public/img/project1_banner_mobile.png) !important;
    }
    .hotcases-content {
        .pic {
            margin-bottom: 10px;
        }
    } 
    #cases-tabContent {
        #base {
            .text {
                .title {
                    width: 30%;
                }
                .content {
                    width: 70%;
                    font-size: 14px;
                }
            }
        } 
        .bigpic {
            display: flex;
            flex-wrap: wrap;
            .pic {
                order: 2;
            }
            .text {
                width: 100%;
                order: 1;
            }
        }
        .smallpic {
            padding-bottom: 0;
            .inner {
                position: static;
                padding: 20px 0 0;
                overflow-x: auto;
                display: flex;
                width: 100%;
                .pic-inform {
                    margin-bottom: 0;
                    width: 33.3333%;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    } 
}

@media screen and (max-width:575px) {
    #cases-tabContent {
        #base {
            .text {
                .title {
                    width: 100%;
                }
                .content {
                    width: 100%;
                    font-size: 14px;
                }
            }
        } 
    } 
}