// 大圖
.banner {
  .swiper-slide {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// our projects
.project-box {
  .main-project {
    .swiper-slide {
      .pic {
        width: 100%;
        padding-bottom: 65%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .text {
        width: 55%;
        padding: 30px 0;
        h4 {
          font-weight: 900;
          font-size: 25px;
          margin-top: 0;
          margin-bottom: 15px;
          br {
            display: none;
          }
        }
        .main_p {
          font-size: 14px;
          line-height: 1;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .second-project {
    width: 30%;
    left: 0;
    top: 86%;
    padding-bottom: 40px;
    .swiper-slide {
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      .pic {
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
    .main-pagi {
      bottom: 0;
      top: inherit;
      width: 50%;
      left: 25%;
      .swiper-pagination-progressbar {
        background-color: rgba(137, 137, 137, 0.5);
        &-fill {
          background-color: #898989;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .project-box {
    .second-project {
      top: 83%;
    }
  }
}

@media screen and (max-width: 991px) {
  .project-box {
    .second-project {
      width: 40%;
      top: 75%;
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .banner {
    .swiper-slide {
      padding-bottom: calc(100vh - 70px);
    }
  }
  .project-box {
    .main-project {
      .swiper-slide {
        .text {
          width: 100%;
          margin-top: 20vw;
        }
      }
    }
    .second-project {
      width: 60%;
      margin: 0 20%;
      top: 55%;
      padding-bottom: 20%;
    }
  }
}

@media screen and (max-width: 575px) {
  .project-box {
    .main-project {
      .swiper-slide {
        .text {
          margin-top: 25vw;
        }
      }
    }
    .second-project {
      width: 60%;
      margin: 0 20%;
      top: 55%;
      padding-bottom: 20%;
    }
  }
}

@media screen and (max-width: 460px) {
  .project-box {
    .main-project {
      .swiper-slide {
        .text {
          margin-top: 30vw;
        }
      }
    }
    .second-project {
      width: 60%;
      margin: 0 20%;
      top: 50%;
      padding-bottom: 25%;
    }
  }
}

@media screen and (max-width: 414px) {
  .project-box {
    .main-project {
      .swiper-slide {
        .text {
          margin-top: 30vw;
        }
      }
    }
    .second-project {
      width: 60%;
      margin: 0 20%;
      top: 45%;
      padding-bottom: 25%;
    }
  }
}

@media screen and (max-width: 360px) {
    .project-box {
      .second-project {
        top: 40%;
        padding-bottom: 30%;
      }
    }
  }