@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Helvetica Neue',"蘭亭黑","Noto Sans TC","微軟正黑體",serif;
  color: #4D4D4D;
}

a {
  color: #4D4D4D;
  text-decoration: none;
}

a:hover {
  color: #4D4D4D;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-mt {
  margin-top: 100px;
}

.main-mb {
  margin-bottom: 100px;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}

header .logo {
  height: 40px;
}

header nav ul li {
  display: inline-block;
  position: relative;
  font-weight: bold;
}

header nav ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #C30012;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav ul li:first-child::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #C30012;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .menu {
  width: 35px;
  height: 25px;
  position: relative;
  display: none;
}

header .menu .bar {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu .bar.top {
  top: 0;
}

header .menu .bar.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}

header .menu .bar.bottom {
  bottom: 0;
}

header .menu.active .bar {
  top: 50%;
  left: 50%;
  width: 40px;
}

header .menu.active .bar.top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu.active .bar.middle {
  opacity: 0;
}

header .menu.active .bar.bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main {
  padding-top: 70px;
}

.main-title {
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-title.eng {
  font-size: 40px;
  position: relative;
}

.main-title.eng::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 20px;
  background-image: url(../img/title_arrow.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  right: -45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-title.chi {
  font-size: 24px;
  color: #666;
}

.main_p {
  color: #666;
  font-size: 16px;
  line-height: 1.7;
}

.more {
  font-size: 18px;
}

footer {
  background-color: #C8C8C8;
  color: #333;
}

footer .logo {
  line-height: 1;
}

footer .logo img {
  width: 50px;
  vertical-align: middle;
}

footer .logo span {
  vertical-align: middle;
}

footer .dash {
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(50%, #333333), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #333333 0%, #333333 50%, transparent 50%);
  background-size: 5px 5px;
  background-repeat: repeat-x;
}

footer .icon img {
  width: 35px;
  margin-left: 5px;
}

.banner .swiper-slide {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.banner .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-box .main-project .swiper-slide .pic {
  width: 100%;
  padding-bottom: 65%;
  position: relative;
}

.project-box .main-project .swiper-slide .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.project-box .main-project .swiper-slide .text {
  width: 55%;
}

.project-box .main-project .swiper-slide .text h4 {
  font-weight: 900;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

.project-box .main-project .swiper-slide .text h4 br {
  display: none;
}

.project-box .main-project .swiper-slide .text .main_p {
  font-size: 14px;
  line-height: 1;
}

.project-box .main-project .swiper-slide .text .main_p p {
  margin-bottom: 10px;
}

.project-box .second-project {
  width: 30%;
  left: 0;
  bottom: 0;
  padding-bottom: 30px;
}

.project-box .second-project .swiper-slide {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.project-box .second-project .swiper-slide .pic {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  position: relative;
}

.project-box .second-project .swiper-slide .pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-box .second-project .main-pagi {
  bottom: 0;
  top: inherit;
  width: 50%;
  left: 25%;
}

.project-box .second-project .main-pagi .swiper-pagination-progressbar {
  background-color: rgba(137, 137, 137, 0.5);
}

.project-box .second-project .main-pagi .swiper-pagination-progressbar-fill {
  background-color: #898989;
}
/*# sourceMappingURL=style.css.map */